body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.welcome-container {
  height: 100vh;
  position: relative;
  background-color: #222222;
}

.welcome {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.welcome h1 {
  margin: 0;
  font-size: calc(1.5em + 1vw);
  text-align: center;
  color: #F4F1D0;
}

.welcome h3 {
  margin: 0;
  font-size: calc(1em + 1vw);
  text-align: center;
  color: #F4F1D0;
}

.welcome a {
  background-color: #111111;
  border: none;
  color: #F4F1D0;
  width: 200px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  -webkit-box-shadow: 0 0 7px #F4F1D0;
          box-shadow: 0 0 7px #F4F1D0;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.welcome a img {
  height: 30px;
  width: 30px;
  margin-top: 5px;
}

.border {
  border-style: solid;
  border-color: green;
}

@-webkit-keyframes play59 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -15104px 0px;
  }
}

@keyframes play59 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -15104px 0px;
  }
}

.icon {
  width: 256px;
  height: 256px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.iconAnimation {
  -webkit-animation-duration: 975ms;
          animation-duration: 975ms;
  -webkit-animation-timing-function: steps(59);
          animation-timing-function: steps(59);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-repeat: no-repeat;
}

.iconAnimation.play {
  -webkit-animation-name: play59;
          animation-name: play59;
}

.title {
  margin: 0;
  padding: 30px;
  font-size: calc(2em + 1vw);
  text-align: center;
  background: #eaeaea;
}

.offers-container {
  background-color: #eaeaea;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer {
  grid-column: auto;
}

.offer h2, .offer p {
  margin: 10px;
  text-align: center;
}

.skills-container {
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill {
  grid-column: auto;
  position: relative;
}

.skill h1 {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  text-align: center;
  width: 100%;
}

.skill p {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  opacity: 0.6;
  font-size: 10px;
}

.skill-background {
  position: relative;
}

.contact-container {
  background-color: #eaeaea;
  margin: 0 auto;
  /* the bottom margin is the negative value of the footer's height */
  position: relative;
}

.folder {
  height: 50vh;
  width: 100%;
}

.center {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.center h1 {
  color: white;
  font-size: calc(1em + 1vw);
  text-align: center;
}

.center p {
  color: white;
  font-size: calc(0.6em + 1vw);
  text-align: center;
  margin: 2px;
}

.bottom {
  background-color: #222222;
  bottom: 0;
  width: 100%;
  position: absolute;
}

.bottom p {
  color: white;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */