html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding:0;
  }
// welcome 
  .welcome-container{
    height: 100%;
    position: relative;
    background-color: #222222;
  }

  .welcome{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    h1{
      margin:0;
      font-size: calc(1.5em + 1vw);
      text-align: center;
      color: #F4F1D0;
    }
    h3{
      margin:0;
      font-size: calc(1em + 1vw);
      text-align: center;
      color: #F4F1D0;
    }



    a{
      background-color: #111111;
      border: none;
      color: #F4F1D0;
      width: 200px;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      box-shadow: 0 0 7px #F4F1D0;
      display: block;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
      
      img{
        height: 30px;
        width: 30px;
        margin-top: 5px;
      }
    }

  }


  .border{
    border-style: solid;
    border-color: green;
  }

  // animation

  @keyframes play59 {
      0% {
        background-position: 0px 0px;
      }
      100% {
        background-position: -15104px 0px;
      }
    }
    .icon{
      width: 256px;
      height: 256px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
    }
    .iconAnimation {
      animation-duration: 975ms;
      animation-timing-function: steps(59);
      animation-fill-mode: forwards;
      background-repeat: no-repeat;
    }

    .iconAnimation.play {
      animation-name: play59;
    }
  // icon animation end
// welcome end

// about
  .about-container{
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: #F4F1D0;
  }
// about end

// contact
  .contact-container{
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: #222222;
  }

  